.idea
venv

Calibration/__pycache__
Calibration/build/
Calibration/dist/
Calibration.spec

Correlation/__pycache__
Correlation/build/
Correlation/dist/
Correlation.spec

Grabber/__pycache__
Grabber/build/
Grabber/dist/
Grabber.spec

PostProcessing/__pycache__
PostProcessing/build/
PostProcessing/dist/
PostProcessing.spec